name: docker
on:
  workflow_dispatch:
  push:
    branches: [main]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: docker build -t erpwms-api ./backend-go
      - run: docker build -t erpwms-analytics ./python-analytics
